.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.side-panel {
  max-width: 25vw;
  height: 100%;
}

.car-list {
  height: 100%;
  flex: 1 0 auto;
}

.car {
  width: 100%;
}

span {
  color: red;
}
